.product {
  margin-top: 50px;
}

.product .boxItems {
  transition: 0.5s;
  display: flex;
}

.product .boxItems:hover {
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  cursor: pointer;
  transform: translateY(-5px);
}

.product img {
  width: 105px;
  height: 105px;
  margin-right: 20px;
  object-fit: cover;
}

.product .details {
  width: 100%;
}

.product .details h3 {
  font-size: 17px;
}

.product .details p {
  margin: 10px 0;
}

.product button {
  margin-top: 15px;
  float: right;
  font-size: 25px;
}

.search {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}